@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "beautifultours";
}
<!-- banner -->
<div class="inner_banner_agile">

</div>

<div class="services-breadcrumb">
    <div class="inner_breadcrumb">
        <ul class="short_ls">
            <li>
                <a href="@Url.Action("Index","Home")">Home</a>
                <span>/ /</span>
            </li>
            <li>Read-More</li>
        </ul>
    </div>
</div>